*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #f6fff8;
}

/*Info Box*/
.info_boxH{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.3s ease;
    padding: 10px;
    background: #9ba9ff;
    width: 550px;
    height: 280px;
    border-radius: 5px;
}
    
.info_boxH.show{
display: block;
}

.info_titleH{
    height: 50px;
    width: 100%;
    border-bottom: 1.5px solid #474056;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 600;
    color: #474056;
}

.info_listH{
    padding: 15px 35px;
}
.infoH{
    margin: 5 0;
    font-size: 17px;
    font-weight: 600;
    color: #474056;
    padding-bottom: 10px;
}
.infoH span{
    font-weight: 600;
    color: #10002b;
}
.info_boxH .buttonsH {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1.5px solid #474056;
}

.info_boxH .buttonsH button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    outline: none;
    border: 1 solid #474056;
    border-radius: 5px;
    color: #474056;
    background: #a9d6e5;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}


/*Quiz Box*/

.quiz_boxH{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.3s ease;
    width: 550px;
    background: #a9d6e5;
    border-radius: 5px;
}
.quiz_boxH.show{
    display: block;
}
.quiz_boxH header{
    position: relative;

    height: 70px;
    width: 100%;
    padding: 0 30px;
    background: #a9d6e5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    border-bottom: 1.5px solid #474056; 
}

.quiz_boxH header .titleH{
    font-size: 20px;
    font-weight: 600;
    color: #474056;
}

.quiz_boxH header .timerH{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    width: 145px;
    background: #cce5ff;
    border: 1px solid #474056;
    border-radius: 5px;
    padding: 0 8px;
}

.quiz_boxH header .timerH .time_textH{
    font-size: 17px;
    font-weight: 600;
    user-select: none;
    color: #474056;
}

.quiz_boxH header .timerH .timer_secH{
    font-size: 18px;
    font-weight: 500;
    background: #474056;
    height: 30px;
    width: 40px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid #474056;
    user-select: none;
}

.quiz_boxH header .time_lineH{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: #474056;
}

.quiz_boxH section{
    padding: 25px 30px 20px 30px;
    background: #cce5ff;
}

.quiz_boxH section .que_textH{
    font-size: 25px;
    font-weight: 600;
    color: #474056;
}

.quiz_boxH section .option_listH{
    padding: 20px 0;
    display: block;
    color: #474056;
}

.quiz_boxH section .option_listH .optionH{
    background: #cce5ff;
    border: 1px solid #474056;
    border-radius: 5px;
    color: #474056;
    padding: 8px 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: 17px;
    transition: all 0.3s ease;
}

.option_listH .optionH:last-child{
    margin-bottom: 0;
}

.option_listH .optionH .icon{
height: 26px;
width: 26px;
border: 2px solid transparent;
border-radius: 50%;
text-align: center;
font-size: 13px;
line-height: 24px;
pointer-events: none;
}

.option_listH .optionH .icon.tick{
    color: #23903c;
    border-color: #23903c ;
    background: #d4edda;
}

.option_listH .optionH .icon.cross{
    color: #a42834;
    border-color: #a42834 ;
    background: #f8d7da;
}

.option_listH .optionH.correct{
    color: #155724;
    background: #d4edda;
    border-color: #c3e6cb ;
}
.option_listH .optionH.incorrect{
    color: #721c24;
    background: #f8d7da;
    border-color: #f5c6cb ;
}
.option_listH .optionH.disabled{
    pointer-events: none;
}

.quiz_boxH footer{
    height: 60px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz_boxH footer .total_queH span{
    display: flex;
    user-select: none;
}

.quiz_boxH footer .total_queH span p{
    font-weight: 500;
    padding: 0 5px;
}

.total_queH span p:first-child{
    padding-left: 0;
}

.quiz_boxH footer .next_btnH{
    display: none;
    height: 40px;
    padding: 0 13px;
    font-size: 15px;
    font-weight: 600;
    outline: none;
    border: none;
    color: #474056;
    background: #cce5ff;
    border-radius: 5px;
    border: 1.5px solid #474056;
    cursor: pointer;
    transition: all 0.3s ease;
}


/*Result Box*/
.result_boxH{
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 0.3s ease;
    width: 450px;
    background-color: #a9d6e5;
    padding: 25px 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    transform: translate(-50%, -50%) scale(0.9);
    display: none;
}
.result_boxH.show{
    display: block;
}

.result_boxH .icon{
    font-size: 100px;
    color: #474056;
    margin-bottom: 10px;
}

.result_boxH .complete_textH{
    font-size: 20px;
    font-weight: 500;
    color: #474056;
}

.result_boxH .score_textH span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    color: #474056;
}

.score_textH span p{
    display: flex;
    justify-content: center;
    font-weight: 600;
    padding: 0 4px;
    color: #474056;
}

.result_boxH .buttonsH{
    display: flex;
    margin: 20px 0;
    justify-content: center;
}

.result_boxH .buttonsH button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid #474056;
    color: #474056;
    background: #a9d6e5;
    cursor: pointer;
    transition: all 0.3s ease;
}